<plugin id="cordova-plugin-fetch-download" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>FetchDownload</name>
    <js-module src="www/FetchDownload.js" name="FetchDownload">
        <clobbers target="FetchDownload" />
    </js-module>

    <platform name="android">
        <source-file src="src/android/FetchDownload.java" target-dir="src/com/example/fetchdownload" />
         <framework src="com.github.tonyofrancis:Fetch:3.1.6" />
    </platform>
    <hook type="after_plugin_install" src="hooks/after_plugin_install.js" />
</plugin>