<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-fetch-downloader" version="0.0.1">
    <name>Fetch Downloader</name>
    <description>Cordova Fetch Downloader Plugin</description>
    <license>MIT</license>
    <keywords>cordova,download,fetch</keywords>
    <js-module src="www/FetchDownload.js" name="FetchDownloader">
        <clobbers target="cordova.plugins.FetchDownloader" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FetchDownloader">
                <param name="android-package" value="com.example.FetchDownloader"/>
            </feature>
        </config-file>
        <source-file src="src/android/FetchDownload.java" target-dir="src/com/example" />
        <framework src="com.github.tonyofrancis:Fetch:3.1.6" />
    </platform>
    <hook type="after_plugin_install" src="hooks/after_plugin_install.js" />
</plugin>